<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title class = centered>Festivals</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='assets/css/bootstrap.css')}}" rel="stylesheet">
    <!--external css-->
    <link href="{{url_for('static',filename='assets/font-awesome/css/font-awesome.css')}} " rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/zabuto_calendar.css')}}"><!--DU PLUS-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/js/gritter/css/jquery.gritter.css')}}" /><!--DU PLUS-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/lineicons/style.css')}}"><!--DU PLUS-->

    <!-- Custom styles for this template -->
    <link href="{{url_for('static',filename='assets/css/style.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='assets/css/style-responsive.css')}}" rel="stylesheet">

    <script src="{{url_for('static',filename='assets/js/chart-master/Chart.js')}}"></script> <!--DU PLUS-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="{{ url_for('main') }}" class="logo"><b>I Love Festivals</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">

                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
              <ul class="nav pull-right top-menu">  <!--  <li><a class="logout" href="{{ url_for('login') }}">Déconnexion</a></li> -->
                    <li>
                {% if 'username' in session %}
                        <a class="logout" href="{{ url_for('logout') }}" >Logout</a>
                {% else %}
                <a class="logout" href="/login?from={{ name }}" >Login</a>
                {% endif %}
                    </li>
              </ul>
            </div>
        </header>
      <!--header end-->

      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
          Infos pour les modifs :
              -> chaque .html a une classe A RESPECTER (fa fa-cogs/ fa fa-tasks etc.) Voir le README pour références
              -> Bien mettre (ou enlever) class="active" au bon endroit pour un bel affichage dynamique
              -> attention aux classes "mt" et "sub-menu" qui modifient seulement la taille des boutons (mt>sub-menu)
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

                  <p class="centered">

                    {% if 'username' in session %}
                    <a href="{{url_for('page',name='{{ session.username }}')}}"><img src="{{url_for('static',filename='assets/images/ui-sam.jpg')}}" class="img-circle" width="60"></a>
                    {% else %}
                    <a href="{{url_for('main')}}"><img src="{{url_for('static',filename='assets/images/ui-sam.jpg')}}" class="img-circle" width="60"></a>
                    {% endif %}

                  </p>

                  <h5 class="centered">
                      {% if 'username' in session %}
                         <em>{{ session.username }}</em> &nbsp;
                      {% else %}
                        I Love Festivals
                      {% endif %}
                  </h5>

                  <li class="mt">
                      <a href= "{{url_for('decouverte')}}">
                          <i class="fa fa-tasks"></i>
                          <span>Découvrir</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a class="active" href="{{url_for('festivals')}}">
                          <i class="fa fa-cogs"></i>
                          <span>Festivals</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-desktop" ></i> <!--href="basic_table"-->
                          <span>Classements</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="{{url_for('classement2016')}}">2016</a></li>
                          <li><a  href="{{url_for('classement2015')}}">2015</a></li>
                          <li><a  href="{{url_for('classement2014')}}">2014</a></li>
                      </ul>
                  </li>



                  <li class="sub-menu">
                      <a  href="{{url_for('artistes')}}">
                          <i class="fa fa-cogs"></i>
                          <span>Artistes</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="{{url_for('aPropos')}}">
                          <i class=" fa fa-bar-chart-o"></i>
                          <span>A Propos</span>
                      </a>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">

              <!-- DEBUT BARRE DE RECHERCHE -->
              <h1 class="centered"><b>Quel festival vous intéresse ?</b></h1>
              <div class = "row">
                  <div class="col-sm-10">
                      <form action="{{url_for('postFestivals',requeteTextFestivals='post')}}" method="POST">
                          <input type="text" name="post" class="form-control round-form" placeholder="Nom du festival">
                      </form>
                  </div>
              </div>
              <div class="form-group">
                  <hr>

              </div>

              <!-- FIN BARRE DE RECHERCHE -->

              <!-- DEBUT AFFICHAGE FESTIVAL -->
              <div class="row mt centered">
                  <h5>Votre recherche: {{requeteFestivals[0]}}</h5>
              </div>


              <div class="row">

                      <!-- Votre festival  -->
                      {% if (requeteFestivals != nil and requeteFestivals[0] != "" and genreFestivals != [] and requeteFestivals[0]|length >= 2) %}
                      <div class="row mt centered">
                          <h1><b>{{festivals[0]}}</b></h1>
                          <!-- URL -->
                          {% for redirection in url %}
                          {% if redirection != "" %}
                          <a href = {{redirection}}>
                              <p>-> Aller directement sur le site <-</p>
                          </a>
                          {% endif %}
                          {% endfor %}
                      </div>


                  <!-- Image Panel -->
                  <div class="col-lg-4 col-md-4 col-sm-4 mb">
                      <div class="project-wrapper">
                          <div class="project">
                              <div class="photo-wrapper">
                                  <div class="photo">
                                      {% for name in imageFestivals %}
                                      {% if name != "" %}
                                      <!-- URL -->
                                        {% for redirection in url %}
                                        {% if redirection != "" %}
                                            <a class="fancybox" href={{redirection}}><img class="img-responsive" src={{url_for('static',filename=name)}} alt=""></a>
                                        {% endif %}
                                        {% endfor %}

                                      {% endif %}
                                      {% endfor %}
                                  </div>
                                  <div class="overlay"></div>
                              </div>
                          </div>
                      </div>
                  </div><!-- col-lg-4 -->
                  <!-- Festivals Panel -->
                  <div class="col-lg-4 col-md-4 col-sm-4 mb">
                      <div class="content-panel pn">
                          <div id="spotifyLike" class="mt centered">


                              <!-- Genre -->
                              {% for name in genreFestivals %}
                              {% if name != "" and genreFestivals|length == 1 %}
                              <p class="alert alert-success">
                                  <b>
                                      {{ name }}
                                  </b>
                              </p>

                              {%elif (name!="" and genreFestivals|length > 1) %}
                              <p>
                                  <b>
                                      {{ name }}
                                  </b>
                              </p>

                              {% endif %}

                              {% endfor %}
                              {% if (genreFestivals[0] == nil) %}
                              <!-- show nothing -->
                              {% endif %}


                          </div>
                          <!-- DESCRIPTION -->
                          <div class="followers">
                              <ul>
                                  <!-- lieu -->
                                  {% for name in lieu %}
                                  {% if name != "" %}
                                  <li>
                                      <b>Lieu :</b> {{ name }}
                                  </li>
                                  {% endif %}
                                  {% endfor %}
                                  {% if (lieu[0] == nil) %}
                                  <!-- show nothing -->
                                  {% endif %}
                                  <!-- Dates -->
                                  {% for nameD in dateDeb %}
                                  {% for nameF in dateFin %}
                                  {% if nameD != "" and nameF != "" %}
                                  <li>
                                      Du <b>{{ nameD }}</b> au <b>{{ nameF }}</b>
                                  </li>
                                  {% endif %}
                                  {% endfor %}
                                  {% endfor %}
                                  {% if (dateDeb[0] == nil) %}
                                  <!-- show nothing -->
                                  {% endif %}
                                  {% if (dateFin[0] == nil) %}
                                  <!-- show nothing -->
                                  {% endif %}
                                  <!-- Prix -->
                                  {% for name in prix %}
                                  {% if name != "" %}
                                  {% if name == 0 %}
                                  <li>
                                      <b>Prix par jour :</b> Gratuit
                                  </li>
                                  {% endif %}
                                  {% if name == 1 %}
                                  <li>
                                      <b>Prix par jour :</b> jusqu'à 20€
                                  </li>
                                  {% endif %}
                                  {% if name == 2 %}
                                  <li>
                                      <b>Prix par jour :</b> entre 20 et 40€
                                  </li>
                                  {% endif %}
                                  {% if name == 3 %}
                                  <li>
                                      <b>Prix par jour :</b> entre 40 et 70€
                                  </li>
                                  {% endif %}
                                  {% if name == 4 %}
                                  <li>
                                      <b>Prix par jour :</b> entre 70 et 100€
                                  </li>
                                  {% endif %}
                                  {% if name == 5 %}
                                  <li>
                                      <b>Prix par jour :</b> plus de 100€
                                  </li>
                                  {% endif %}
                                  {% endif %}
                                  {% endfor %}
                                  {% if (prix[0] == nil) %}
                                  <!-- show nothing -->
                                  {% endif %}
                              </ul>

                              <!-- Taille -->
                              {% for name in taille %}
                              {% if name != "" %}
                              {% if name == 1 %}

                              <p class="text-center">
                                  <b>Petit festival</b>
                              </p>
                              {% endif %}
                              {% if name == 2 %}
                              <p class="text-center">
                                  <b>Festival de taille moyenne</b>
                              </p>
                              {% endif %}
                              {% if name == 3 %}
                              <p class="text-center">
                                  <b>Grand Festival</b>
                              </p>
                              {% endif %}
                              {% endif %}
                              {% endfor %}
                              {% if (taille[0] == nil) %}
                              <!-- show nothing -->
                              {% endif %}


                          </div>

                      </div>
                  </div><!-- /col-md-4-->

                  <!-- Note Panel -->
                  <div class="col-lg-4 col-md-4 col-sm-4 mb centered">
                      <form action="/login?from={{ from_page }}" method="POST" class="form-inline" role="form">
                          <h5><b>Donnez une note à ce festival:</b></h5>
                          <select class="form-control" name="quantity">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                          </select>


                          <button type="submit" href="artistes" class="btn btn-info">Envoyer</button>

                      </form>
                  </div><!-- /col-md-4-->


              </div><!-- END 1ST ROW OF PANELS -->
              <!-- FIN AFFICHAGE FESTIVAL -->



              <!-- DEBUT TABLEAU RECAPITULATIF -->
              <div class="row mt">
                  <div class="col-lg-12">
                      <div class="content-panel centered">
                          <h3 class="text-center">Programmation</h3>
                          <section id="unseen">
                              <table class="table table-bordered table-striped table-condensed">
                                  <thead>
                                  <tr>
                                      <th class="text-center">Artiste / Groupe </th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr>
                                      <td>
                                          {% for name in prog %}
                                          {% if name != "" %}


                                          <form action="/postArtist/{{name}}" method="POST">

                                              <i class="fa fa-music"></i>
                                              <button class="btn btn-warning btn-xs" name='requeteTextArtists'>{{name}}</button>

                                          </form>
                                          <br>

                                          {% endif %}
                                          {% endfor %}

                                          {% if (prog[0] == nil) %}
                                          <p>Votre recherche n'a rien donné :(</p>
                                          {% endif %}
                                      </td>
                                  </tr>

                                  </tbody>
                              </table>
                          </section>
                      </div><!-- /content-panel -->
                  </div><!-- /col-lg-4 -->
              </div><!-- /row -->

              <!-- FIN TABLEAU RECAPITULATIF -->


              {% else %}  <!-- BIP ces deux cas suivant ne s'affichent pas  -->
              <div class="row mt centered">
                  <p class="alert alert-warning">Oups! Votre recherche n'a rien donné</p>
              </div>

              {%endif%}


          </section><! <!--/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              ILoveFestivals - Créé en 2017 par : Nolwenn Madec, Maria Alicia Bermudez Jaime, Marwann Mehenni, Emmanuel Gublin et Quentin Nieloud
              <a href="{{url_for('festivals')}}" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{{url_for('static',filename='assets/js/jquery.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/jquery-ui-1.9.2.custom.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/jquery.ui.touch-punch.min.js')}}"></script>
    <script class="include" type="text/javascript" src="{{url_for('static',filename='assets/js/jquery.dcjqaccordion.2.7.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/jquery.scrollTo.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/jquery.nicescroll.js')}}" type="text/javascript"></script>


    <!--common script for all pages-->
    <script src="{{url_for('static',filename='assets/js/common-scripts.js')}}"></script>

    <script type="text/javascript" src="{{url_for('static',filename='assets/js/gritter/js/jquery.gritter.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='assets/js/gritter-conf.js')}}"></script>


    <!--script for this page-->
    <script src="{{url_for('static',filename='assets/js/sparkline-chart.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/zabuto_calendar.js')}}"></script>

  <script>
      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

  </script>



  <script type="application/javascript">
        $(document).ready(function () {
            $("#date-popover").popover({html: true, trigger: "manual"});
            $("#date-popover").hide();
            $("#date-popover").click(function (e) {
                $(this).hide();
            });

            $("#my-calendar").zabuto_calendar({
                action: function () {
                    return myDateFunction(this.id, false);
                },
                action_nav: function () {
                    return myNavFunction(this.id);
                },
                ajax: {
                    url: "show_data.php?action=1",
                    modal: true
                },
                legend: [
                    {type: "text", label: "Special event", badge: "00"},
                    {type: "block", label: "Regular event", }
                ]
            });
        });


        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
    </script>

  </body>
</html>
