<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Page d'accueil</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='assets/css/bootstrap.css')}}" rel="stylesheet">
    <!--external css-->
    <link href="{{url_for('static',filename='assets/font-awesome/css/font-awesome.css')}} " rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/zabuto_calendar.css')}}"><!--DU PLUS-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/js/gritter/css/jquery.gritter.css')}}" /><!--DU PLUS-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/lineicons/style.css')}}"><!--DU PLUS-->

    <!-- Custom styles for this template -->
    <link href="{{url_for('static',filename='assets/css/style.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='assets/css/style-responsive.css')}}" rel="stylesheet">

    <script src="{{url_for('static',filename='assets/js/chart-master/Chart.js')}}"></script> <!--DU PLUS-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="{{ url_for('main') }}" class="logo"><b>I Love Festivals</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="{{ url_for('login') }}">Déconnexion</a></li>
            	</ul>
            </div>
        </header>

      <!--header end-->

      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
        	Infos pour les modifs :
          		-> chaque .html a une classe A RESPECTER (fa fa-cogs/ fa fa-tasks etc.) Voir le README pour références
          		-> Bien mettre (ou enlever) class="active" au bon endroit pour un bel affichage dynamique
          		-> attention aux classes "mt" et "sub-menu" qui modifient seulement la taille des boutons (mt>sub-menu)
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar" class="nav-collapse">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

                  <p class="centered">

                  	{% if 'username' in session %}
					<a href="{{url_for('page',name='{{ session.username }}')}}"><img src="{{url_for('static',filename='assets/images/ui-sam.jpg')}}" class="img-circle" width="60"></a>
					{% else %}
					<a href="{{url_for('main')}}"><img src="{{url_for('static',filename='assets/images/ui-sam.jpg')}}" class="img-circle" width="60"></a>
					{% endif %}
                  	
                  </p>
                  
                  <h5 class="centered">I Love Festivals</h5>

                  <li class="mt">
                      <a href="{{url_for('decouverte')}}">
                          <i class="fa fa-tasks"></i>
                          <span>Découvrir</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="{{url_for('festivals')}}">
                          <i class="fa fa-cogs"></i>
                          <span>Festivals</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-desktop" ></i> <!--href="basic_table"--> 
                          <span>Classements</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="{{url_for('classement2016')}}">2016</a></li>
                          <li><a  href="{{url_for('classement2015')}}">2015</a></li>
                          <li><a  href="{{url_for('classement2014')}}">2014</a></li>
                      </ul>
                  </li>



                  <li class="sub-menu">
                      <a href="{{url_for('artistes')}}">
                          <i class="fa fa-cogs"></i>
                          <span>Artistes</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="chartjs">
                          <i class=" fa fa-bar-chart-o"></i>
                          <span>A Propos</span>
                      </a>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">

                      <!-- DEBUT ACTUS -->
                      <div class="row mt">
                          <div class="col-lg-12">

                              <!-- DEBUT BARRE DE RECHERCHE -->
                              <h1 class="centered">Vous recherchez quelque chose ?</h1>
                              <div class = "row">
                                  <div class="col-sm-10">
                                      <form action="/post" method="POST">
                                        <input type="text" name="post" class="form-control round-form" placeholder="Rechercher par Festival, Artiste ou plus...">
                                      </form>
                                  </div>
                              </div>
                              <div class="form-group">
                                <hr>
                                <div class="row mt centered">
                                  <h2>ACTUALITES</h2>
                                </div>
                              </div>

                              <!-- FIN BARRE DE RECHERCHE -->

                              <!-- 1ST ROW OF PANELS
                              Les images se changent directement dans le CSS #spotify ou #spotify2 et ainsi de suite
                              jusqu'à 6. Celà permet d'avoir un bon Responsive
                              -->

                              <div class="row">

                                  <!-- News Panel -->
                                  <div class="col-lg-4 col-md-4 col-sm-4 mb">
                                      <div class="content-panel pn">
                                          <div id="blog-bg">
                                              <div class="blog-title"></div>
                                          </div>
                                          <div class="blog-text">
                                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <a href="#">Read More</a></p>
                                          </div>
                                      </div>
                                  </div><!-- /col-md-4-->

                                  <!-- Artists Panel -->
                                  <div class="col-lg-4 col-md-4 col-sm-4 mb">
                                      <div class="content-panel pn">
                                          <div id="spotify">
                                              <div class="sp-title">
                                                  <h3>MUSE</h3>
                                              </div>
                                          </div>
                                          <p class="followers">Le groupe britannique de Rock'n Roll qui s'est peu à peu converti à l'électronique, à l'image des Pink Floyd, annonce leur tournée pour leur Album DRONES dans toute la France dès Juin 2017. </p>
                                      </div>
                                  </div><!-- /col-md-4-->

                                  <!-- New Festivals Panel (Pepites) -->
                                  <div class="col-lg-4 col-md-4 col-sm-4 mb">
                                      <div class="content-panel pn">
                                          <div id="spotify2">
                                              <div class="sp-title">
                                                  <h3>Solidays</h3>
                                              </div>
                                          </div>
                                          <p class="followers">Les Solidays malheureusement dèjà complets... Désolé pour les retardataires.</p>
                                      </div>
                                  </div><!-- /col-md-4-->
                              </div><!-- END 1ST ROW OF PANELS -->


                              <!--  2ND ROW OF PANELS -->
                              <div class="row">

                                  <!-- New Panel -->
                                  <div class="col-lg-4 col-md-4 col-sm-4 mb">
                                      <div class="content-panel pn">
                                          <div id="blog-bg">
                                              <div class="blog-title">Incredible Title</div>
                                          </div>
                                          <div class="blog-text">
                                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <a href="#">Read More</a></p>
                                          </div>
                                      </div>
                                  </div><!-- /col-md-4-->

                                  <!-- Artists Panel -->
                                  <div class="col-lg-4 col-md-4 col-sm-4 mb">
                                      <div class="content-panel pn">
                                          <div id="spotify3">
                                              <div class="sp-title">
                                                  <h3>LORDE</h3>
                                              </div>
                                          </div>
                                          <p class="followers">La jeune artiste talentueuse revient sur le devant de la scène. Bientôt en tournée dans toute la France</p>
                                      </div>
                                  </div><!-- /col-md-4-->

                                  <!-- New Festivals Panel (Pepites) -->
                                  <div class="col-lg-4 col-md-4 col-sm-4 mb">
                                      <div class="content-panel pn">
                                          <div id="spotify4">
                                              <div class="sp-title">
                                                  <h3>OpenAirs à Lyon</h3>
                                              </div>
                                          </div>
                                          <p class="followers">Le quartier de Gerland accueillera très prochainement de nouveaux open airs dès début Juin a annoncée la Mairie de Lyon 7ème. Préparez vos plus lunettes de soleil et vos gosiers ! </p>
                                      </div>
                                  </div><!-- /col-md-4-->
                              </div><!-- /END 2ND ROW OF PANELS -->


                              <!-- 3RD ROW OF PANELS -->
                              <div class="row">

                                  <!-- New Panel -->
                                  <div class="col-lg-4 col-md-4 col-sm-4 mb">
                                      <div class="content-panel pn">
                                          <div id="blog-bg">
                                              <div class="blog-title">U2 à Lyon !</div>
                                          </div>
                                          <div class="blog-text">
                                              <p>Le groupe mythique Irlandais débarque à Lyon pour la nouvelle tournée. <a href="#">En savoir plus</a></p>
                                          </div>
                                      </div>
                                  </div><!-- /col-md-4-->

                                  <!-- Artists Panel -->
                                  <div class="col-lg-4 col-md-4 col-sm-4 mb">
                                      <div class="content-panel pn">
                                          <div id="spotify5">
                                              <div class="sp-title">
                                                  <h3>ARTIC MONKEYS</h3>
                                              </div>
                                          </div>
                                          <p class="followers">Découvrez leur tout nouvel album très prometteur ! Peut-être passeront-ils bientôt dans les festivals près de chez vous.</p>
                                      </div>
                                  </div><!-- /col-md-4-->

                                  <!-- New Festivals Panel (Pepites) -->
                                  <div class="col-lg-4 col-md-4 col-sm-4 mb">
                                      <div class="content-panel pn">
                                          <div id="spotify6">
                                              <div class="sp-title">
                                                  <h3>Les Vieilles Charrues 2017</h3>
                                              </div>

                                          </div>
                                          <p class="followers">Vive la Bretagne! Tout simplement. Guichets ouverts dès très bientôt.</p>
                                      </div>
                                  </div><!-- /col-md-4-->
                              </div><!-- /END 3RD ROW OF PANELS -->

                          </div>
                      </div>
                      <!-- FIN ACTUS -->

          </section>

      </section>

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2017 - ILoveFestivals
              <a href="{{url_for('main')}}" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="static/assets/js/jquery.js"></script>
    <script src="static/assets/js/jquery-1.8.3.min.js"></script>
    <script src="static/assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="static/assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="static/assets/js/jquery.scrollTo.min.js"></script>
    <script src="static/assets/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="static/assets/js/jquery.sparkline.js"></script>


    <!--common script for all pages-->

	<script src="{{url_for('static',filename='assets/js/common-scripts.js')}}"></script>
    
    <script type="text/javascript" src="static/assets/js/gritter/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="static/assets/js/gritter-conf.js"></script>

    <!--script for this page-->
    <script src="static/assets/js/sparkline-chart.js"></script>    
	  <script src="static/assets/js/zabuto_calendar.js"></script>
	
  	<script type="application/javascript">
          $(document).ready(function () {
              $("#date-popover").popover({html: true, trigger: "manual"});
              $("#date-popover").hide();
              $("#date-popover").click(function (e) {
                  $(this).hide();
              });
          
              $("#my-calendar").zabuto_calendar({
                  action: function () {
                      return myDateFunction(this.id, false);
                  },
                  action_nav: function () {
                      return myNavFunction(this.id);
                  },
                  ajax: {
                      url: "show_data.php?action=1",
                      modal: true
                  },
                  legend: [
                      {type: "text", label: "Special event", badge: "00"},
                      {type: "block", label: "Regular event", }
                  ]
              });
          });
          
          
          function myNavFunction(id) {
              $("#date-popover").hide();
              var nav = $("#" + id).data("navigation");
              var to = $("#" + id).data("to");
              console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
          }
      </script>
  

  </body>
</html>
